In [66]:
# cargo librerias
import pandas as pd
import re as re
import numpy as np

### Correspondencia de productos

World Integrated Trade Solution (WITS) ofrece información sobre diversas nomenclaturas de productos, lo que contribuye con el mapeo entre varias nomenclaturas de productos. En este caso se descargó la tabla de correlación entre el SA 1996 o H1 y la ISIC Rev 3, ya que los datos de exportaciones se encuentran en dicha nomenclatura del SA y los de clasificación de bienes pertenecientes a la Bioeconomía en la mencionada clasificación ISIC. https://wits.worldbank.org/product_concordance.html

#### Lista de productos pertenecientes a la bioeconomía en CIIU Rev3

In [25]:
# Bienes pertenecientes a la bioeconomia argentina
CIIU_bioecon = pd.read_excel('../data/raw/Nomenclaturas/clasif_CIIUrev3_bioecon.xlsx', index_col=None)  
CIIU_bioecon = CIIU_bioecon.loc[ 3:79 , : ]

In [26]:
name_columns = CIIU_bioecon.loc[ 3 , : ].values
name_columns[0]

'CIIU Rev3'

In [27]:
CIIU_bioecon = CIIU_bioecon.loc[ 4:79 , : ].rename(columns = {'Actividades consideradas para estimar la bioeconomía': name_columns[0], 'Unnamed: 1': name_columns[1], 'Unnamed: 2': name_columns[2]})

In [28]:
CIIU_bioecon

,CIIU Rev3,Concepto,Participación %
4,Letra A,"Agricultura, ganadería, caza y silvicultura",100
5,Letra B,Pesca,100
6,Letra D,Industria Manufacturera Bio,NaN
7,15111,"Matanza de ganado, producción, procesamiento y...",100
8,15112,"Producción, procesamiento y conservación de ca...",100
...,...,...,...
75,24241,Fabricación de jabones y preparados de limpieza,50
76,24249,"Fabricación de cosméticos, perfumes y otros pr...",25
77,24290,Fabricación de productos químicos n.c.p. (BIOD...,100
78,36101,"Fabricación de muebles y partes de muebles, pr...",100
79,37200,Reciclamiento de desperdicios y desechos no me...,100

De las letras A y B se consideran todos los productos como productos de la Bioeconomía, mientras que de la letra D sólo los que se mencionan ahí en los porcentajes que allí indican. En este caso, si figura en el listado se considerará parte de la bioeconomía aunque no corresponda en su totalidad dado que no hay forma de separarlos.

Voy a tener que extraer del listado completo de nomenclatura CIIU Rev3 los códigos numéricos de productos correspondientes a las letras A y B que no figuran en el listado previo.

In [29]:
# dejo afuera las filas correspondientes a letras (A, B y D) y me quedo sólo con los códigos numéricos
CIIU_bioecon = CIIU_bioecon.loc[ 7:79 , : ]

In [30]:
CIIU_bioecon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 7 to 79
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CIIU Rev3        73 non-null     object
 1   Concepto         73 non-null     object
 2   Participación %  73 non-null     object
dtypes: object(3)
memory usage: 1.8+ KB

#### Lista total de productos en nomenclatura CIIU Rev3

In [11]:
# descargo datos completos de nomenclatura CIIU_Rev3 para completar las referencias a letras
CIIU_Rev3 = pd.read_excel('../data/raw/Nomenclaturas/CIIU_Rev3_es.xlsx')  
CIIU_Rev3

     Code                                        Description Categoria
0       A        Agricultura, ganadería, caza y silvicultura       NaN
1       1  Agricultura, ganadería, caza y actividades de ...         A
2      11  Cultivos en general; cultivo de productos de m...         A
3     111        Cultivo de cereales y otros cultivos n.c.p.         A
4     112  Cultivo de hortalizas y legumbres, especialida...         A
..    ...                                                ...       ...
523  9500            Hogares privados con servicio doméstico         P
524     Q        Organizaciones y órganos extraterritoriales       NaN
525    99        Organizaciones y órganos extraterritoriales         Q
526   990        Organizaciones y órganos extraterritoriales         Q
527  9900        Organizaciones y órganos extraterritoriales         Q

[528 rows x 3 columns]

In [47]:
# se corrobora que la clasificación CIIU Rev3 tiene como máximo hasta 4 dígitos
CIIU_Rev3.Code.astype(str).str.len().max()

4

Por lo que se pudo observar en la clasificación CIIU Rev3 los códigos tienen solo 4 dígitos, por lo que se descubrió que la clasificación que en el trabajo de bioeconomía figura como CIIU Rev3 en realidad corresponde a la [Clasificación Nacional de Actividades Económicas (ClaNAE-97)](https://www.argentina.gob.ar/sites/default/files/clasificacion_nacional_de_actividades_economicas-clanae-97.pdf) de Argentina. Según se pudo verificar en el link de dicha clasificación que compara con la CIIU Rev3, la diferencia está en el 5to número, mientras los primeros 4 coinciden con la clasificación CIIU Rev3. Por lo que en este caso se procederá a seleccionar los primeros 4 dígitos de dicha columna para llegar a obtener la clasificación CIIU Rev3 efectiva.

In [51]:
# selecciono los datos correspondientes a letras A y B de esta base
CIIU_Rev3[CIIU_Rev3.Categoria.isin(['A','B'])]

   Code                                        Description Categoria
1     1  Agricultura, ganadería, caza y actividades de ...         A
2    11  Cultivos en general; cultivo de productos de m...         A
3   111        Cultivo de cereales y otros cultivos n.c.p.         A
4   112  Cultivo de hortalizas y legumbres, especialida...         A
5   113  Cultivo de frutas, nueces, plantas cuyas hojas...         A
6    12                                   Cría de animales         A
7   121  Cría de ganado vacuno y de ovejas, cabras, cab...         A
8   122  Cría de otros animales; elaboración de product...         A
9    13  Cultivo de productos agrícolas en combinación ...         A
10  130  Cultivo de productos agrícolas en combinación ...         A
11   14  Actividades de servicios agrícolas y ganaderos...         A
12  140  Actividades de servicios agrícolas y ganaderos...         A
13   15  Caza ordinaria y mediante trampas, y repoblaci...         A
14  150  Caza ordinaria y mediante trampas, y repoblaci...         A
15    2  Silvicultura, extracción de madera y actividad...         A
16   20  Silvicultura, extracción de madera y actividad...         A
17  200  Silvicultura, extracción de madera y actividad...         A
19    5  Pesca, explotación de criaderos de peces y gra...         B
20   50  Pesca, explotación de criaderos de peces y gra...         B
21  500  Pesca, explotación de criaderos de peces y gra...         B

In [61]:
# selecciono los códigos correspondientes a letras A y B
codigos_AB = CIIU_Rev3[CIIU_Rev3.Categoria.isin(['A','B'])].Code
codigos_AB = codigos_AB.astype(str).unique()
codigos_AB

array(['1', '11', '111', '112', '113', '12', '121', '122', '13', '130',
       '14', '140', '15', '150', '2', '20', '200', '5', '50', '500'],
      dtype=object)

Para complementar los códigos de las letras A y B, selecciono las posiciones correspondientes a la letra D de la tabla CIIU_bioecon

In [34]:
CIIU_bioecon['CIIU Rev3'] = CIIU_bioecon['CIIU Rev3'].astype(str)

<ipython-input-34-15aef9966eba>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CIIU_bioecon['CIIU Rev3'] = CIIU_bioecon['CIIU Rev3'].astype(str)

In [38]:
CIIU_bioecon['CIIU_4dig'] = CIIU_bioecon['CIIU Rev3'].str[:4]

<ipython-input-38-030a28f411fb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CIIU_bioecon['CIIU_4dig'] = CIIU_bioecon['CIIU Rev3'].str[:4]

In [39]:
CIIU_bioecon

,CIIU Rev3,Concepto,Participación %,CIIU_4dig
7,15111,"Matanza de ganado, producción, procesamiento y...",100,1511
8,15112,"Producción, procesamiento y conservación de ca...",100,1511
9,15113,Elaboración de fiambres y embutidos,100,1511
10,15120,Elaboración y conservación de pescado y produc...,100,1512
11,15130,"Elaboración y conservación de frutas, legumbre...",100,1513
...,...,...,...,...
75,24241,Fabricación de jabones y preparados de limpieza,50,2424
76,24249,"Fabricación de cosméticos, perfumes y otros pr...",25,2424
77,24290,Fabricación de productos químicos n.c.p. (BIOD...,100,2429
78,36101,"Fabricación de muebles y partes de muebles, pr...",100,3610
79,37200,Reciclamiento de desperdicios y desechos no me...,100,3720

In [64]:
# códigos de CIIU que corresponden a la letra D
codigos_D = CIIU_bioecon.CIIU_4dig.unique() 
codigos_D

array(['1511', '1512', '1513', '1514', '1520', '1531', '1532', '1533',
       '1541', '1542', '1543', '1544', '1549', '1551', '1552', '1553',
       '1554', '1600', '1711', '1712', '1721', '1722', '1723', '1729',
       '1730', '1810', '1820', '1911', '1912', '1920', '2010', '2021',
       '2022', '2023', '2029', '2101', '2102', '2109', '2320', '2411',
       '2421', '2423', '2424', '2429', '3610', '3720'], dtype=object)

In [74]:
# uno el listado de códigos correspondientes a la bioeconomia en CIIU Rev3
list_CIIU_bioecon = list(codigos_AB) + list(codigos_D) 
list_CIIU_bioecon = [int(i) for i in list_CIIU_bioecon] # los paso a número
list_CIIU_bioecon

[1,
 11,
 111,
 112,
 113,
 12,
 121,
 122,
 13,
 130,
 14,
 140,
 15,
 150,
 2,
 20,
 200,
 5,
 50,
 500,
 1511,
 1512,
 1513,
 1514,
 1520,
 1531,
 1532,
 1533,
 1541,
 1542,
 1543,
 1544,
 1549,
 1551,
 1552,
 1553,
 1554,
 1600,
 1711,
 1712,
 1721,
 1722,
 1723,
 1729,
 1730,
 1810,
 1820,
 1911,
 1912,
 1920,
 2010,
 2021,
 2022,
 2023,
 2029,
 2101,
 2102,
 2109,
 2320,
 2411,
 2421,
 2423,
 2424,
 2429,
 3610,
 3720]

#### Tabla de correspondencias CIIU Rev3 y HS 1996

In [12]:
correl_nomen = pd.read_csv('../data/raw/Nomenclaturas/JobID-19_Concordance_H1_to_I3.csv') 
correl_nomen

,HS 1996 Product Code,HS 1996 Product Description,ISIC Revision 3 Product Code,ISIC Revision 3 Product Description
0,10111,Horses :-- Pure-bred breeding animals,121,"Farming of cattle, sheep, goats, horses, asses..."
1,10119,Horses :-- Other,121,"Farming of cattle, sheep, goats, horses, asses..."
2,10120,"Asses, mules and hinnies",121,"Farming of cattle, sheep, goats, horses, asses..."
3,10210,Pure-bred breeding animals,121,"Farming of cattle, sheep, goats, horses, asses..."
4,10290,Other,121,"Farming of cattle, sheep, goats, horses, asses..."
...,...,...,...,...
5108,970200,"Original engravings, prints and lithographs.",9214,"Dramatic arts, music and other arts activities"
5109,970300,"Original sculptures and statuary, in any mater...",9214,"Dramatic arts, music and other arts activities"
5110,970400,"Postage or revenue stamps, stamp-postmarks, fi...",9214,"Dramatic arts, music and other arts activities"
5111,970500,Collections and collectors' pieces of zoologic...,9214,"Dramatic arts, music and other arts activities"
5112,970600,Antiques of an age exceeding one hundred years.,9214,"Dramatic arts, music and other arts activities"

In [13]:
# verifico con un ejemplo para el codigo rev3 1511 que inlcuye 77 productos a 6 dígitos
correl_nomen[correl_nomen['ISIC Revision 3 Product Code']==1511]

,HS 1996 Product Code,HS 1996 Product Description,ISIC Revision 3 Product Code,ISIC Revision 3 Product Description
17,20110,Carcasses and half-carcasses,1511,"Production, processing and preserving of meat ..."
18,20120,Other cuts with bone in,1511,"Production, processing and preserving of meat ..."
19,20130,Boneless,1511,"Production, processing and preserving of meat ..."
20,20210,Carcasses and half-carcasses,1511,"Production, processing and preserving of meat ..."
21,20220,Other cuts with bone in,1511,"Production, processing and preserving of meat ..."
...,...,...,...,...
1841,410210,With wool on,1511,"Production, processing and preserving of meat ..."
1842,410221,Without wool on :-- Pickled,1511,"Production, processing and preserving of meat ..."
1843,410229,Without wool on :-- Other,1511,"Production, processing and preserving of meat ..."
1844,410310,Of goats or kids,1511,"Production, processing and preserving of meat ..."
2149,510119,"Greasy, including fleece-washed wool :-- Other",1511,"Production, processing and preserving of meat ..."

In [78]:
correl_nomen = correl_nomen.rename(columns={'HS 1996 Product Code': 'HS_code', 'HS 1996 Product Description': 'HS_description', 'ISIC Revision 3 Product Code':'CIIU_Rev3_code', 'ISIC Revision 3 Product Description':'CIIU_Rev3_desc'})
correl_nomen

,HS_code,HS_description,CIIU_Rev3_code,CIIU_Rev3_desc
0,10111,Horses :-- Pure-bred breeding animals,121,"Farming of cattle, sheep, goats, horses, asses..."
1,10119,Horses :-- Other,121,"Farming of cattle, sheep, goats, horses, asses..."
2,10120,"Asses, mules and hinnies",121,"Farming of cattle, sheep, goats, horses, asses..."
3,10210,Pure-bred breeding animals,121,"Farming of cattle, sheep, goats, horses, asses..."
4,10290,Other,121,"Farming of cattle, sheep, goats, horses, asses..."
...,...,...,...,...
5108,970200,"Original engravings, prints and lithographs.",9214,"Dramatic arts, music and other arts activities"
5109,970300,"Original sculptures and statuary, in any mater...",9214,"Dramatic arts, music and other arts activities"
5110,970400,"Postage or revenue stamps, stamp-postmarks, fi...",9214,"Dramatic arts, music and other arts activities"
5111,970500,Collections and collectors' pieces of zoologic...,9214,"Dramatic arts, music and other arts activities"
5112,970600,Antiques of an age exceeding one hundred years.,9214,"Dramatic arts, music and other arts activities"

Los datos a nivel de producto se encuentran a 6 dígitos del SA, por lo que voy a tener que convertir a nivel de partida arancelaria (4 dígitos) para que coincida con los datos de comercio con que se está trabajando.

In [87]:
# genero una nueva columna que considere nivel de partida arancelaria (4 dígitos) en vez de 6 digtios del SA (HS)
correl_nomen['HS_4dig'] = np.where(correl_nomen.HS_code.astype(str).str.len() == 5, correl_nomen.HS_code.astype(str).str[:3], correl_nomen.HS_code.astype(str).str[:4]) 
correl_nomen

,HS_code,HS_description,CIIU_Rev3_code,CIIU_Rev3_desc,HS_4dig
0,10111,Horses :-- Pure-bred breeding animals,121,"Farming of cattle, sheep, goats, horses, asses...",101
1,10119,Horses :-- Other,121,"Farming of cattle, sheep, goats, horses, asses...",101
2,10120,"Asses, mules and hinnies",121,"Farming of cattle, sheep, goats, horses, asses...",101
3,10210,Pure-bred breeding animals,121,"Farming of cattle, sheep, goats, horses, asses...",102
4,10290,Other,121,"Farming of cattle, sheep, goats, horses, asses...",102
...,...,...,...,...,...
5108,970200,"Original engravings, prints and lithographs.",9214,"Dramatic arts, music and other arts activities",9702
5109,970300,"Original sculptures and statuary, in any mater...",9214,"Dramatic arts, music and other arts activities",9703
5110,970400,"Postage or revenue stamps, stamp-postmarks, fi...",9214,"Dramatic arts, music and other arts activities",9704
5111,970500,Collections and collectors' pieces of zoologic...,9214,"Dramatic arts, music and other arts activities",9705
5112,970600,Antiques of an age exceeding one hundred years.,9214,"Dramatic arts, music and other arts activities",9706

#### Selecciono productos pertenecientes a la bioeconomía de la tabla de correspondencias

In [89]:
# selecciono sólo los bienes que pertenecen al listado de la bioeconomía
df_bioecon = correl_nomen[correl_nomen.CIIU_Rev3_code.isin(list_CIIU_bioecon)]
df_bioecon

,HS_code,HS_description,CIIU_Rev3_code,CIIU_Rev3_desc,HS_4dig
0,10111,Horses :-- Pure-bred breeding animals,121,"Farming of cattle, sheep, goats, horses, asses...",101
1,10119,Horses :-- Other,121,"Farming of cattle, sheep, goats, horses, asses...",101
2,10120,"Asses, mules and hinnies",121,"Farming of cattle, sheep, goats, horses, asses...",101
3,10210,Pure-bred breeding animals,121,"Farming of cattle, sheep, goats, horses, asses...",102
4,10290,Other,121,"Farming of cattle, sheep, goats, horses, asses...",102
...,...,...,...,...,...
4999,940421,"Mattresses :-- Of cellular rubber or plastics,...",3610,Manufacture of furniture,9404
5000,940429,Mattresses :-- Of other materials,3610,Manufacture of furniture,9404
5001,940430,Sleeping bags,1721,"Manufacture of made-up textile articles, excep...",9404
5002,940490,Other,1721,"Manufacture of made-up textile articles, excep...",9404
5067,960500,"Travel sets for personal toilet, sewing or sho...",1912,"Manufacture of luggage, handbags and the like,...",9605

Una vez filtrados por código CIIU, selecciono los códigos únicos a 4 dígitos del SA (clasificación de datos de comercio) para poder clasificar los datos de comercio en bienes de la bioeconomía o no.

In [92]:
# armo lista de códigos HS
list_bioecon_HS4dig = df_bioecon.HS_4dig.unique()
list_bioecon_HS4dig

array(['101', '102', '103', '104', '105', '106', '201', '202', '203',
       '204', '205', '206', '207', '208', '209', '210', '301', '302',
       '303', '304', '305', '306', '307', '401', '402', '403', '404',
       '405', '406', '407', '408', '409', '410', '503', '508', '509',
       '511', '601', '602', '603', '604', '701', '702', '703', '704',
       '705', '706', '707', '708', '709', '710', '711', '712', '713',
       '714', '801', '802', '803', '804', '805', '806', '807', '808',
       '809', '810', '811', '812', '813', '814', '901', '902', '903',
       '904', '905', '906', '907', '908', '909', '910', '1001', '1002',
       '1003', '1004', '1005', '1006', '1007', '1008', '1101', '1102',
       '1103', '1104', '1105', '1106', '1107', '1108', '1109', '1201',
       '1202', '1203', '1204', '1205', '1206', '1207', '1208', '1209',
       '1210', '1211', '1212', '1213', '1214', '1301', '1302', '1401',
       '1402', '1403', '1404', '1501', '1502', '1503', '1504', '1505',
       '1506', '1507', '1508', '1509', '1510', '1511', '1512', '1513',
       '1514', '1515', '1516', '1517', '1518', '1520', '1521', '1522',
       '1601', '1602', '1603', '1604', '1605', '1701', '1702', '1703',
       '1704', '1801', '1803', '1804', '1805', '1806', '1901', '1902',
       '1903', '1904', '1905', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2101', '2102', '2103', '2104',
       '2105', '2106', '2201', '2202', '2203', '2204', '2205', '2206',
       '2207', '2208', '2209', '2301', '2304', '2305', '2306', '2309',
       '2401', '2402', '2403', '2601', '2707', '2708', '2710', '2711',
       '2712', '2713', '2801', '2802', '2803', '2804', '2805', '2806',
       '2807', '2809', '2810', '2811', '2812', '2813', '2815', '2816',
       '2817', '2818', '2819', '2820', '2821', '2822', '2823', '2824',
       '2825', '2826', '2827', '2828', '2829', '2830', '2831', '2832',
       '2833', '2834', '2835', '2836', '2837', '2838', '2839', '2840',
       '2841', '2842', '2843', '2845', '2846', '2847', '2848', '2849',
       '2850', '2851', '2901', '2902', '2903', '2904', '2905', '2906',
       '2907', '2908', '2909', '2910', '2911', '2912', '2913', '2914',
       '2915', '2916', '2917', '2918', '2919', '2920', '2921', '2922',
       '2923', '2924', '2925', '2926', '2927', '2928', '2929', '2930',
       '2931', '2932', '2933', '2934', '2935', '2936', '2937', '2938',
       '2939', '2940', '2941', '2942', '3001', '3002', '3003', '3004',
       '3005', '3006', '3201', '3202', '3203', '3204', '3205', '3206',
       '3215', '3301', '3302', '3303', '3304', '3305', '3306', '3307',
       '3401', '3402', '3403', '3404', '3405', '3407', '3501', '3502',
       '3503', '3504', '3505', '3506', '3507', '3601', '3602', '3603',
       '3604', '3701', '3702', '3703', '3707', '3802', '3803', '3805',
       '3806', '3807', '3808', '3809', '3810', '3811', '3812', '3813',
       '3815', '3817', '3818', '3819', '3820', '3821', '3822', '3823',
       '3824', '4001', '4101', '4102', '4103', '4104', '4105', '4106',
       '4107', '4108', '4109', '4111', '4201', '4202', '4203', '4204',
       '4205', '4301', '4302', '4303', '4304', '4401', '4402', '4403',
       '4404', '4405', '4406', '4407', '4408', '4409', '4410', '4411',
       '4412', '4413', '4414', '4415', '4416', '4417', '4418', '4419',
       '4420', '4421', '4501', '4502', '4503', '4504', '4601', '4602',
       '4701', '4702', '4703', '4704', '4705', '4706', '4801', '4802',
       '4803', '4804', '4805', '4806', '4807', '4808', '4809', '4810',
       '4811', '4812', '4813', '4814', '4815', '4816', '4817', '4818',
       '4819', '4821', '4822', '4823', '5001', '5002', '5003', '5004',
       '5005', '5006', '5007', '5101', '5102', '5103', '5105', '5106',
       '5107', '5108', '5109', '5110', '5111', '5112', '5113', '5201',
       '5203', '5204', '5205', '5206', '5207', '5208', '5209', '5210',
       '5211', '5212', '5301', '5302', '5303', '5304', '5305', '5306',
       '5307', '5308', '5309', '5310', '5311', '5401', '5402', '5403',
       '5406', '5407', '5408', '5506', '5507', '5508', '5509', '5510',
       '5511', '5512', '5513', '5514', '5515', '5516', '5601', '5602',
       '5603', '5604', '5605', '5606', '5607', '5608', '5609', '5701',
       '5702', '5703', '5704', '5705', '5801', '5802', '5803', '5804',
       '5805', '5806', '5807', '5808', '5809', '5810', '5811', '5901',
       '5902', '5903', '5905', '5907', '5908', '5909', '5910', '5911',
       '6001', '6002', '6101', '6102', '6103', '6104', '6105', '6106',
       '6107', '6108', '6109', '6110', '6111', '6112', '6113', '6114',
       '6115', '6116', '6117', '6201', '6202', '6203', '6204', '6205',
       '6206', '6207', '6208', '6209', '6210', '6211', '6212', '6213',
       '6214', '6215', '6216', '6217', '6301', '6302', '6303', '6304',
       '6305', '6306', '6307', '6308', '6401', '6402', '6403', '6404',
       '6405', '6406', '6501', '6502', '6503', '6504', '6505', '6506',
       '6507', '7019', '7101', '7104', '8523', '8804', '9113', '9401',
       '9403', '9404', '9605'], dtype=object)

In [96]:
print('Número de bienes en código HS_4dig que corresponden a la bioeconomía: ', len(list_bioecon_HS4dig.astype(int))) # 580 bienes corresponden a la bioeconomía 
list_bioecon_HS4dig = list(list_bioecon_HS4dig.astype(int))
list_bioecon_HS4dig

Número de bienes en código HS_4dig que corresponden a la bioeconomía:  580

[101,
 102,
 103,
 104,
 105,
 106,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 503,
 508,
 509,
 511,
 601,
 602,
 603,
 604,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1301,
 1302,
 1401,
 1402,
 1403,
 1404,
 1501,
 1502,
 1503,
 1504,
 1505,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1520,
 1521,
 1522,
 1601,
 1602,
 1603,
 1604,
 1605,
 1701,
 1702,
 1703,
 1704,
 1801,
 1803,
 1804,
 1805,
 1806,
 1901,
 1902,
 1903,
 1904,
 1905,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2101,
 2102,
 2103,
 2104,
 2105,
 2106,
 2201,
 2202,
 2203,
 2204,
 2205,
 2206,
 2207,
 2208,
 2209,
 2301,
 2304,
 2305,
 2306,
 2309,
 2401,
 2402,
 2403,
 2601,
 2707,
 2708,
 2710,
 2711,
 2712,
 2713,
 2801,
 2802,
 2803,
 2804,
 2805,
 2806,
 2807,
 2809,
 2810,
 2811,
 2812,
 2813,
 2815,
 2816,
 2817,
 2818,
 2819,
 2820,
 2821,
 2822,
 2823,
 2824,
 2825,
 2826,
 2827,
 2828,
 2829,
 2830,
 2831,
 2832,
 2833,
 2834,
 2835,
 2836,
 2837,
 2838,
 2839,
 2840,
 2841,
 2842,
 2843,
 2845,
 2846,
 2847,
 2848,
 2849,
 2850,
 2851,
 2901,
 2902,
 2903,
 2904,
 2905,
 2906,
 2907,
 2908,
 2909,
 2910,
 2911,
 2912,
 2913,
 2914,
 2915,
 2916,
 2917,
 2918,
 2919,
 2920,
 2921,
 2922,
 2923,
 2924,
 2925,
 2926,
 2927,
 2928,
 2929,
 2930,
 2931,
 2932,
 2933,
 2934,
 2935,
 2936,
 2937,
 2938,
 2939,
 2940,
 2941,
 2942,
 3001,
 3002,
 3003,
 3004,
 3005,
 3006,
 3201,
 3202,
 3203,
 3204,
 3205,
 3206,
 3215,
 3301,
 3302,
 3303,
 3304,
 3305,
 3306,
 3307,
 3401,
 3402,
 3403,
 3404,
 3405,
 3407,
 3501,
 3502,
 3503,
 3504,
 3505,
 3506,
 3507,
 3601,
 3602,
 3603,
 3604,
 3701,
 3702,
 3703,
 3707,
 3802,
 3803,
 3805,
 3806,
 3807,
 3808,
 3809,
 3810,
 3811,
 3812,
 3813,
 3815,
 3817,
 3818,
 3819,
 3820,
 3821,
 3822,
 3823,
 3824,
 4001,
 4101,
 4102,
 4103,
 4104,
 4105,
 4106,
 4107,
 4108,
 4109,
 4111,
 4201,
 4202,
 4203,
 4204,
 4205,
 4301,
 4302,
 4303,
 4304,
 4401,
 4402,
 4403,
 4404,
 4405,
 4406,
 4407,
 4408,
 4409,
 4410,
 4411,
 4412,
 4413,
 4414,
 4415,
 4416,
 4417,
 4418,
 4419,
 4420,
 4421,
 4501,
 4502,
 4503,
 4504,
 4601,
 4602,
 4701,
 4702,
 4703,
 4704,
 4705,
 4706,
 4801,
 4802,
 4803,
 4804,
 4805,
 4806,
 4807,
 4808,
 4809,
 4810,
 4811,
 4812,
 4813,
 4814,
 4815,
 4816,
 4817,
 4818,
 4819,
 4821,
 4822,
 4823,
 5001,
 5002,
 5003,
 5004,
 5005,
 5006,
 5007,
 5101,
 5102,
 5103,
 5105,
 5106,
 5107,
 5108,
 5109,
 5110,
 5111,
 5112,
 5113,
 5201,
 5203,
 5204,
 5205,
 5206,
 5207,
 5208,
 5209,
 5210,
 5211,
 5212,
 5301,
 5302,
 5303,
 5304,
 5305,
 5306,
 5307,
 5308,
 5309,
 5310,
 5311,
 5401,
 5402,
 5403,
 5406,
 5407,
 5408,
 5506,
 5507,
 5508,
 5509,
 5510,
 5511,
 5512,
 5513,
 5514,
 5515,
 5516,
 5601,
 5602,
 5603,
 5604,
 5605,
 5606,
 5607,
 5608,
 5609,
 5701,
 5702,
 5703,
 5704,
 5705,
 5801,
 5802,
 5803,
 5804,
 5805,
 5806,
 5807,
 5808,
 5809,
 5810,
 5811,
 5901,
 5902,
 5903,
 5905,
 5907,
 5908,
 5909,
 5910,
 5911,
 6001,
 6002,
 6101,
 6102,
 6103,
 6104,
 6105,
 6106,
 6107,
 6108,
 6109,
 6110,
 6111,
 6112,
 6113,
 6114,
 6115,
 6116,
 6117,
 6201,
 6202,
 6203,
 6204,
 6205,
 6206,
 6207,
 6208,
 6209,
 6210,
 6211,
 6212,
 6213,
 6214,
 6215,
 6216,
 6217,
 6301,
 6302,
 6303,
 6304,
 6305,
 6306,
 6307,
 6308,
 6401,
 6402,
 6403,
 6404,
 6405,
 6406,
 6501,
 6502,
 6503,
 6504,
 6505,
 6506,
 6507,
 7019,
 7101,
 7104,
 8523,
 8804,
 9113,
 9401,
 9403,
 9404,
 9605]

In [102]:
# guardo la lista para levantarla desde otros notebooks
df_list = pd.DataFrame(list_bioecon_HS4dig, columns=["lista_prodbio"])
df_list.to_csv('../data/processed/list_bioecon_HS4dig.csv', index=False)

In [103]:
df_list

     lista_prodbio
0              101
1              102
2              103
3              104
4              105
..             ...
575           9113
576           9401
577           9403
578           9404
579           9605

[580 rows x 1 columns]